* {
    font-family: 'poppins', sans-serif;
}

body {
    background: rgb(15, 15, 15);
}

#searchblock {

    background-size: cover;
    background-position-y: 70%;
    position: relative;
    padding: 0;
    height: 70vh;
    overflow: hidden;

}

.video-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit:cover;

}

.darkbg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logins {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 5%;
}

.logins>a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-shadow: 0 0 6px rgb(36, 36, 36);
}

.logins>a:nth-child(2) {
    margin-left: 5%;
}

#logo {
    text-align: center;
    height: max-content;
    padding: 0;
    text-align: center;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    text-shadow: 0 0 6px rgb(36, 36, 36);
}

#logo>p {
    font-size: 30px;
}

@media screen and (max-width: 864px) {
    #logo {
        font-size: 9vw;
    }

    #logo>p {
        font-size: 3.7vw;
    }
}


#searchbar {
    display: flex;
    justify-content: center;
    padding: 0 2%;
    height: 9%;
}

#searchbar>select {
    position: inherit;
    width: 80%;
    height: 90%;
    background: white;
    color: rgb(63, 63, 63);
    text-shadow: 1px 1px 5px white;
    border: none;
    font-size: 15px;
    font-weight: 450;
    font-family: 'poppins';
}



#searchbar>select:nth-child(2) {
    margin-left: 3px;

}

select>option {
    text-align: center;
}

@media screen and (max-width: 550px) {
    #searchbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 15%
    }

    #searchbar>select {
        height: 50%;
        font-size: 13px;
    }

    #searchbar>select:nth-child(2) {
        margin-left: 0;
        margin-top: 2%;
    }



    #searchbar>select:nth-child(2) {
        margin-left: 3px;
    }

    #searchbar>select>option {
        text-align: center;
    }

}

/* CARD ROW ONE*/

#con1 {
    margin-top: 30px;
    padding: 1%
}

#row1 {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

#rowcol1 {
    margin-bottom: 20px;
    height: maz-content;
    display: flex;
}

.card {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 1rem;
    background: none;
    box-shadow: 1px 1px 9px rgb(255, 255, 255, 0.2);
    padding: 0;
}

#card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    text-decoration: none;
}

#cardtitle {
    background: black;
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 0 0 1rem 1rem;
    position: relative;
    width: 100%;
    height: 30%;
    bottom: 0;
    padding-top: 5%
}

#card-link {
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cardimage {
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;

}

#card1 {
    background: url(https://i.ibb.co/ZMbTFh5/Burgerrr.jpg) no-repeat;
    background-size: cover;
    background-position-y: 90%;
}

#card2 {
    background: url(https://i.ibb.co/Vgm7D0b/restaurant.jpg) no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

#card3 {
    background: url(https://i.ibb.co/c6n44rt/devpro.jpg) no-repeat;
    background-size: cover;
    background-position-y: 70%;
}

#card4 {
    background: url(https://i.ibb.co/zP4RVhZ/michael-discenza-Mxfcoxyc-H-Y-unsplash.jpg) no-repeat;
    background-size: cover;
}

.card:hover {
    transform: scale(1.07);
}

/* /CARD ROW ONE*/


#con2-title {
    color: whitesmoke;
    padding: 0 10px 0 30px;
}

#con2-title>h2 {
    font-size: 25px;
}

#con2-title>h4 {
    font-size: 20px;
    color: rgb(200, 200, 200);
}